<phpunit colors="true" verbose="true"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         convertDeprecationsToExceptions="true"
>
    <testsuites>
        <testsuite name="Integration">
            <directory>./tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="NEO4J_HOST" value="neo4j"/>
<!--        <env name="NEO4J_DATABASE" value=""/>-->
<!--        <env name="NEO4J_PORT" value=""/>-->
<!--        <env name="NEO4J_SECURE" value=""/>-->
<!--        <env name="NEO4J_PROTOCOL" value=""/>-->
<!--        <env name="NEO4J_ERROR_MODE" value=""/>-->
<!--        <env name="NEO4J_NO_SSL_VERIFY" value="" />-->
<!--        <env name="NEO4J_SHOULD_RETRY_CYPHER_ERRORS" value=""/>-->
<!--        <env name="NEO4J_CYPHER_MAX_RETRIES" value=""/>-->
<!--        <env name="NEO4J_CYPHER_RETRY_MAX_INTERVAL_MS" value="" />-->
<!--        <env name="NEO4J_REQUEST_MAX_RETRIES" value="" />-->
<!--        <env name="NEO4J_REQUEST_RETRY_INTERVAL_MS" value="" />-->
        <env name="NEO4J_USERNAME" value="neo4j" />
        <env name="NEO4J_PASSWORD" value="testtest" />
    </php>
</phpunit>
